:root {
  --primary-color: #28328c;
  --secondary-color: #14bef0;
  --text-color: #333333;
  --background-color: #f5f7fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  color: var(--text-color);
} 